* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: #fff;
    color: #4a4b4c;    
}

*:focus {
    outline: 3px dashed #ff7500;
    outline-offset: 3px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-HEADER */

.site-header {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.site-header-container {
    display: flex;
    align-items: center;
}

.main-logo {
    padding: 9px 6px;
    background-color: #fff;
    margin-right: 40px;
    border-radius: 7px;
}

.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.6;
}

.money {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.moneys:not(:last-child) {
    margin-right: 25px;
}

.mark {
    color: #2959ce;
    font-weight: 700;
}

.monet {
    line-height: 19px;
    color: #555;
    font-weight: 400;
}

.search {
    margin-right: 25px;
}
.search-input {
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
    background-color: #fff;
    padding: 15px 20px 13px 40px;
    border: 0;
    border-radius: 60px;
}

.lang {
    display: flex;
    padding: 3px;
    background-color: #dce6ff;
    border-radius: 39px;
    margin-right: 25px;
}

.lang-link {
    font-size: 13px;
    line-height: 15px;
    padding: 7px;
    border-radius: 50%;
    color: #000;
    text-decoration: none;
}

.lang-link-ru {
    color: #a6a6a6;
}

.lang-link-active {
    background-color: #fff;
}

.main-link {
    display: inline-block;
    font-weight: 500;
    line-height: 19px;
    background-color: #7296ec;
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.4s ease;
}

.main-link:hover {
    background-color: #7397a0;
}

.main-link:active {
    opacity: 0.6;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    border-bottom: 1px solid #d1d1d1;
}

.site-nav-list:not(:last-child) {
    margin-right: 34px;
}

.site-nav-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7f7f7f;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: color 0.4s ease;
}

.site-nav-item:hover {
    color: #2959ce;
}

.site-nav-item:active {
    opacity: 0.6;
}

.market {
    padding-top: 40px;
    padding-bottom: 50px;
}

.market-list {
    padding-bottom: 0;
}

.market-link {
    display: flex;
}

.market-img {
    display: block;
    width: 1200px;
    height: 128px;
    border-radius: 8px;
    margin: 0;
}


/* MAIN */
.main-content {
    flex-grow: 1;
}

.article {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 393px;
    background-color: #f6f6f6;
    padding: 20px 17px 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.box-heading {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    flex-grow: 1;
}

.box-heading-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    transition: color 0.4s ease;
}

.box-heading-link:hover {
    color: #2959ce;
}

.box-heading-link:active {
    opacity: 0.6;
}

.box-description {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.box-img {
    width: 360px;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 15px;
}

.box-footer {
    display: flex;
}

.logo-link {
    display: flex;
    align-items: center;
}

.box-logo {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.box-logo-article {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}

.box-span { 
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
}

.box-span-article {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5E5F61;
}

/* NOTIFICATION */

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/fon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1050px;
    padding: 25px 71px 25px 25px;
    margin: 60px auto;
    font-weight: 500;
    font-size: 20px;
}
.notification-heading {
    width: 404px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
}
.notification-link {
    padding: 13px 30px;
    line-height: 24px;
    background-color: #f78b3b;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.4s ease;
}

.notification-link:hover {
    background-color: #2959ce;
}

.notification-link:active {
    opacity: 0.6;
}

.main-bottom {
    display: flex;
    padding-bottom: 100px;
}

/* BOX-BOTTOM */

.box-bottom {
    width: 797px;
    display: flex;
    align-items: flex-start;
    flex-direction: unset;
    margin-left: 0;
    padding: 20px;
}

.box-bottom-left {
    flex-direction: column;
    padding: 0;
    margin-top: 49px;
}

.box-bottom-left-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
    margin: 0;
    margin-bottom: 20px;
}

.box-img-bottom {
    width: 210px;
    height: 165px;
    border-radius: 10px;
    margin-right: 15px;
}

.box-text {
    flex-grow: 1;
}

.box-bottom-link {
    display: inline-block;
    font-weight: 500;
    line-height: 19px;
    background-color: #eaeaea;
    color: #000;
    padding: 17px 343px;
    margin-left: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: color 0.4s ease;
}

.box-bottom-link:hover {
    color: #2959ce;
}

.box-bottom-link:active {
    opacity: 0.6;
}

.box-bottom-right-full {
    width: 393px;
    flex-direction: column;
    margin-top: 49px;
    margin-left: 10px;
}

.box-bottom-right {
    margin-left: 0;
    padding-bottom: 25px;
}

.bottom-right-main-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.box-bottom-right-text {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #d2d2d2;
}

.box-bottom-right-text h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.box-bottom-right-text:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.box-bottom-right-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    transition: color 0.4s ease;
}

.box-bottom-right-heading:hover {
    color: #2959ce;
}

.box-span-right {
    font-size: 13px;
    line-height: 15px;
}

.box-bottom-right-hr {
    margin: 0;
}

.box-bottom-right-img {
    width: 393px;
    height: 338px;
    border-radius: 15px;
}

.box-bottom-right-img-list {
    height: 553px;
}

footer {
    background-color: #7297ef;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-footer {
    max-width: 1000px;
}

.main-logo-footer {
    margin-bottom: 15px;
}

.main-logo-footer svg{
    display: block;
    background-color: transparent;
    color: #fff;
}

.main-logo-footer svg:hover {
    opacity: 0.8;
}

.main-logo-footer svg:hover {
    opacity: 0.6;
}

.site-footer-top {
    display: flex;
    justify-content: space-between;
}

.site-footer-text {
    width: 230px;
    font-size: 12px;
    line-height: 19px;
    margin: 0;
}

.site-footer-link {
    display: flex;
}

.site-footer-link ul {
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.site-footer-link-items {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    list-style: none;
    margin-bottom: 20px;
}

.site-footer-link-items:hover {
    opacity: 0.8;
}

.site-footer-link-items:active {
    opacity: 0.6;
}

.site-footer-link li:last-child {
    margin-bottom: 0;
}

.site-footer-link a {
    font-weight: 500;
    line-height: 19px;
    color: #fff;
}

.footer-hr {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 1px;
    background: #cecece;
}

.site-footer-bottom {
    display: flex;
    align-items: center;
}

.site-footer-end {
    width: 161px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
    margin-right: auto;
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link {
    display: flex;
}

.footer-link:not(:last-child) {
    margin-right: 25px;
}

.link-logo {
    width: 25px;
    height: 25px;
}

.link-logo:hover {
    opacity: 0.8;
}

.link-logo:active {
    opacity: 0.6;
}

/* ARTICLE */
.main-bottom-article {
    padding: 0;
}

.article-heading {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.article-img {
    width: 797px;
    height: 300px;
    border-radius: 13px;
    margin-bottom: 25px;
}

.article-paragraph {
    margin-bottom: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #d2d2d2;
}

.article-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 0;
}

.article-text:not(:last-child) {
    margin: 0;
    margin-bottom: 24px;
}

.extra-articles-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.extra-articles {
    display: flex;
    padding-bottom: 100px;
    margin-left: -10px;
}

.box-article {
    margin-bottom: 0;
}

/* CONTACT */
.contact-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.contact-main {
    display: flex;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    width: 696px;
    margin-right: 10px;
}

.top-form {
    display: flex;
    margin-bottom: 10px;
}

.name {
    margin-right: 10px;
}

.input {
    width: 343px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 18px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.e-mail-input {
    width: 696px;
    margin-bottom: 10px;
}

.text-form-input {
    width: 696px;
    height: 180px;
    margin-bottom: 20px;
}

/* BUTTON */
.contact-button {
    /* TODO  left*/
    align-self: flex-end;
    padding: 17px 30px;
    background: #7297EF;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* CONTACT */
.main-content-contact {
    padding-top: 60px;
    padding-bottom: 100px;
}


.contact {
    width: 494px;
    height: 315px;
    background-color: #f6f6f6;
    padding: 20px 20px;
    border-radius: 10px;
}

.contacts-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 7px;
}

.contact-links {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-links:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .notification {
        background-image: url("../img/fon@2x.png");
    }

}