* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: #fff;
    color: #4a4b4c;    
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-HEADER */

.site-header {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.site-header-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    margin-right: 40px;
}

.money {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.moneys:not(:last-child) {
    margin-right: 25px;
}

.mark {
    color: #2959ce;
}

.monet {
    line-height: 19px;
    color: #555;
}

.search {
    margin-right: 25px;
}
.search-input {
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
    background-color: #fff;
    padding: 15px 20px 13px 40px;
    border: 0;
    border-radius: 60px;
}

.lang {
    display: flex;
    padding: 3px;
    background-color: #dce6ff;
    border-radius: 39px;
    margin-right: 25px;
}

.lang-link {
    font-size: 13px;
    line-height: 15px;
    padding: 7px;
    border-radius: 50%;
    color: #000;
    text-decoration: none;
}

.lang-link-active {
    background-color: #fff;
}

.main-link {
    display: inline-block;
    font-weight: 500;
    line-height: 19px;
    background-color: #7296ec;
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}

.site-nav-list:not(:last-child) {
    margin-right: 34px;
}

.site-nav-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7f7f7f;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

.main-hr {
    border: 1px solid #d1d1d1;
    margin: 0;
    margin-bottom: 40px;
}

.market-link {
    display: flex;
}

.market-img {
    display: block;
    width: 1200px;
    height: 128px;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 50px;
}