* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: #fff;
    color: #4a4b4c;    
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-HEADER */

.site-header {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.site-header-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    margin-right: 40px;
}

.money {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.moneys:not(:last-child) {
    margin-right: 25px;
}

.mark {
    color: #2959ce;
}

.monet {
    line-height: 19px;
    color: #555;
}

.search {
    margin-right: 25px;
}
.search-input {
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
    background-color: #fff;
    padding: 15px 20px 13px 40px;
    border: 0;
    border-radius: 60px;
}

.lang {
    display: flex;
    padding: 3px;
    background-color: #dce6ff;
    border-radius: 39px;
    margin-right: 25px;
}

.lang-link {
    font-size: 13px;
    line-height: 15px;
    padding: 7px;
    border-radius: 50%;
    color: #000;
    text-decoration: none;
}

.lang-link-active {
    background-color: #fff;
}

.main-link {
    display: inline-block;
    font-weight: 500;
    line-height: 19px;
    background-color: #7296ec;
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}

.site-nav-list:not(:last-child) {
    margin-right: 34px;
}

.site-nav-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7f7f7f;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

.main-hr {
    border: 1px solid #d1d1d1;
    margin: 0;
    margin-bottom: 40px;
}

.market-link {
    display: flex;
}

.market-img {
    display: block;
    width: 1200px;
    height: 128px;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 50px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

.box {
    width: 393px;
    background-color: #f6f6f6;
    padding: 20px 17px 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.box-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.box-heading-one,
.box-heading-four {
    width: 358px;
}

.box-heading-two,
.box-heading-three,
.box-heading-five {
    width: 346px;
}

.box-heading-six {
    width: 338px;
}

.box-description {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.box-img {
    width: 360px;
    height: 165px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.logo-link {
    display: flex;
    align-items: center;
}

.box-logo {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
.box-span {
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../img/fon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1050px;
    padding: 24px 71px 24px 29px;
    margin: 60px auto;
    font-weight: 500;
    font-size: 20px;
}
.notification-heading {
    width: 404px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
}
.notification-link {
    padding: 13px 30px;
    line-height: 24px;
    background-color: #f78b3b;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.main-bottom {
    display: flex;
    padding-bottom: 100px;
}

.box-bottom {
    width: 797px;
    display: flex;
    margin-left: 0;
}

.box-img-bottom {
    width: 210px;
    height: 165px;
    border-radius: 10px;
    margin-right: 15px;
}

.box-bottom-link {
    display: inline-block;
    font-weight: 500;
    line-height: 19px;
    background-color: #eaeaea;
    color: #000;
    padding: 17px 343px;
    margin-left: 0;
    border-radius: 10px;
    text-decoration: none;
}

.box-bottom-right-full {
    flex-direction: column;
    margin-left: 10px;
}

.box-bottom-right {
    width: 393px;
    margin-left: 0;
    padding-bottom: 25px;
}

.bottom-right-main-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.box-bottom-right-text {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #d2d2d2;
}

.box-bottom-right-text:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.box-bottom-right-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.box-span-right {
    font-size: 13px;
    line-height: 15px;
}

.box-bottom-right-hr {
    margin: 0;
}

.box-bottom-right-img {
    width: 393px;
    height: 338px;
    border-radius: 15px;
}

footer {
    background-color: #7297ef;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-footer {
    max-width: 1000px;
}

.site-footer-top {
    display: flex;
    justify-content: space-between;
}

.site-footer-text {
    width: 230px;
    font-size: 12px;
    line-height: 19px;
}

.site-footer-link {
    display: flex;
}

.site-footer-link ul {
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.site-footer-link ul:last-child {
    margin-right: 0;
}

.site-footer-link li {
    list-style: none;
    margin-bottom: 20px;
}

.site-footer-link li:last-child {
    margin-bottom: 0;
}

.site-footer-link a {
    font-weight: 500;
    line-height: 19px;
    color: #fff;
}

.footer-hr {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 1px;
    background: #cecece;
}

.site-footer-bottom {
    display: flex;
}

.site-footer-end {
    width: 161px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
    margin-right: auto;
}

.footer-list {
    display: flex;
    list-style: none;
}

.footer-link {
    margin-right: 25px;
}

